
<div class="row" ng-show="myinfo">
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Instance Info</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Cargografías Instance</td>
          <td><a href="http://v3.cargografias.org/{{myinfo.instanceName}}" target="_blank">http://v3.cargografias.org/{{myinfo.instanceName}}</a></td>
        </tr>
        <tr>
          <td>Popit Instance</td>
          <td><a href="http://{{myinfo.popitUrl}}.popit.mysociety.org" target="_blank">http://{{myinfo.popitUrl}}.popit.mysociety.org</a></td>
        </tr>
        <tr>
          <td>Contact email</td>
          <td>{{myinfo.email}}</td>
        </tr>
      </tbody></table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>
</div>

<h1>Update your instance</h1>

<p>Running the updater will bring your cargografías instance up to date with the data in your popit instance </p>

<input type="button" value="Update Data" ng-click="updateInstance()" />
