<div class="modal-header">
    <h3 class="modal-title" ng-show="'edit'==mode">Edit Membership</h3>
    <h3 class="modal-title" ng-show="'add'==mode">Add Membership</h3>
</div>

<div class="modal-body">

    <div class="form-group">
        <label for="">Label</label>
        <input type="text" class="form-control" id="" ng-model="membership.label">
    </div>

    <div class="form-group">
        <label for="">Role</label>
        <input type="text" class="form-control" id="" ng-model="membership.role">
    </div>

    <div class="form-group">
        <label for="">Type</label>
        <input type="text" class="form-control" id="" ng-model="membership.type">
    </div>

    <div class="form-group">
        <label for="">Organization</label>
        <a ng-hide="orgSearch" ng-click="orgSearch = true">Change</a>
        <a ng-show="orgSearch" ng-click="orgSearch = false">Cancel</a>
        <div ng-hide="orgSearch">ID: {{membership.organization_id}}</div>
        <div ng-hide="orgSearch">Name: {{organization_name}} </div>
        <input ng-show="orgSearch" type="text" ng-model="organization" typeahead="item as item.name for item in getOrganizations($viewValue)" typeahead-on-select="selectOrganization($item, $model, $label)" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Class</label>
        <input type="text" class="form-control" id="" ng-model="membership.class">
    </div>

    <div class="form-group">
        <label for="">Intended Duration</label>
        <input type="text" class="form-control" id="" ng-model="membership.intended_duration">
    </div>

    <div class="form-group">
        <label for="">Start Date</label>
        <popit-date selected-date="membership.start_date"></popit-date>
    </div>

    <div class="form-group">
        <label for="">End Date</label>
        <popit-date selected-date="membership.end_date"></popit-date>
    </div>

    <div class="form-group">
        <label for="">Naming Date</label>
        <input type="text" class="form-control" id="" ng-model="membership.naming_date">
    </div>

    <h4>Area</h4>
    <div class="form-horizontal form-with-borders">
        <div class="form-group">
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="membership.area.id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="membership.area.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Identifier</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="membership.area.identifier">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Classification</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="membership.area.classification">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="">Party</label>
        <input type="text" class="form-control" id="" ng-model="membership.party">
    </div>

    <div class="form-group">
        <label for="">Party ID</label>
        <input type="text" class="form-control" id="" ng-model="membership.party_id">
    </div>

    <div class="form-group">
        <label for="">Heritage</label>
        <input type="text" class="form-control" id="" ng-model="membership.heritage">
    </div>

    <div class="form-group">
        <label for="">Heritage URL</label>
        <input type="text" class="form-control" id="" ng-model="membership.heritage_url">
    </div>

    <div class="form-group">
        <label for="">Notes</label>
        <input type="text" class="form-control" id="" ng-model="membership.notes">
    </div>

    <div class="form-group">
        <label for="">Added By</label>
        <input type="text" class="form-control" id="" ng-model="membership.added_by">
    </div>

    <div class="form-group">
        <label for="">Sources</label>
        <div class="form-horizontal" ng-repeat="source in membership.sources">
            <div class="form-group">
                <label class="col-sm-2 control-label">Data</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="source.data">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Quality</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="source.quality">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="source.source">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Source Url</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="source.source_url">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <a ng-click="removeSource($index)">Eliminar</a>
                </div>
            </div>
        </div>
        <div>
            <a ng-click="addSource()">Agregar Source</a>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>