<div class="modal-header">
    <h3 class="modal-title">Edit Person</h3>
</div>

<div class="modal-body">

    <div class="form-group">
        <label for="name">Nombre Completo [Name]</label>
        <input type="text" class="form-control" id="name" ng-model="person.name" disabled="disabled">
    </div>

    <div class="form-group">
        <label for="">Nombres [Given Name]</label>
        <input type="text" class="form-control" id="" ng-model="person.given_name" ng-change="calcName()">
    </div>

    <div class="form-group">
        <label for="">Apellidos [Family Name]</label>
        <input type="text" class="form-control" id="" ng-model="person.family_name" ng-change="calcName()">
    </div>

    <div class="form-group">
        <label for="">Sexo [Gender]</label>
        <select ng-model="person.gender" class="form-control">
            <option value="">-- not set --</option>
            <option value="other">Otro [other]</option>
            <option value="male">Masculino [male]</option>
            <option value="female">Femenino [female]</option>
        </select>
    </div>

    <div class="form-group">
        <label for="">Foto [Image]</label>
        <input type="text" class="form-control" id="" ng-model="person.image">
    </div>

    <div class="form-group">
        <label for="">Tipo de documento [Id Type (scheme)]</label>
        <input type="text" class="form-control" id="" ng-model="idtype">
    </div>

    <div class="form-group">
        <label for="">Numero de documento [Id Number]</label>
        <input type="text" class="form-control" id="" ng-model="idnumber">
    </div>

    <div class="form-group">
        <label for="">Fecha Nacimiento [birth_date] (AAAA-MM-DD)</label>
        <popit-date selected-date="person.birth_date"></popit-date>
    </div>

    <div class="form-group">
        <label for="">Lugar de Nacimiento [birth_place]</label>
        <input type="text" class="form-control" ng-model="person.birth_place">
    </div>

	<div class="form-group">
		<label for="">Fecha Deceso [death_date] (AAAA-MM-DD)</label>
		<popit-date selected-date="person.death_date"></popit-date>
	</div>

    <div class="form-group">
        <label for="">Otros Nombres [other_names] (un nombre por renglón)</label>
        <textarea class="form-control" rows="3" ng-model="other_names"></textarea>
    </div>

    <div class="form-group">
        <label for="">Biografía [biography]</label>
        <textarea class="form-control" rows="3" ng-model="person.biography"></textarea>
    </div>

    <div class="form-group">
        <label for="">Mail [email]</label>
        <input type="text" class="form-control" ng-model="person.email">
    </div>


    <h4>Contacto</h4>
    <div class="form-horizontal" ng-repeat="contact in person.contact_details">
        <div class="form-group">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="contact.type">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Label</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="contact.label">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Value</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="contact.value">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <a ng-click="removeContact($index)">Eliminar</a>
            </div>
        </div>
    </div>
    <div>
        <a ng-click="addContact()">Agregar contacto</a>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>