<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>

            Personalize your Instance

          </h1>
    <!-- ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol -->
</section>

<!-- Main content -->
<section class="content">

    <div class='row'>
        <div class='col-md-12'>

            <div class="box">
                <div class="box-header">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active: selectedTab == 'general'}"><a ng-click="selectTab('general')" data-toggle="tab">General</a></li>
                        <li ng-class="{active: selectedTab == 'predefined'}"><a ng-click="selectTab('predefined')" data-toggle="tab">Predefined Search</a></li>
                        <li ng-class="{active: selectedTab == 'placeholders'}"><a ng-click="selectTab('placeholders')" data-toggle="tab">Place Holder Images</a></li>
                        <li ng-class="{active: selectedTab == 'social'}"><a ng-click="selectTab('social')" data-toggle="tab">Social</a></li>
                        <li ng-class="{active: selectedTab == 'footer'}"><a ng-click="selectTab('footer')" data-toggle="tab">Footer</a></li>
                        <li ng-class="{active: selectedTab == 'meta'}"><a ng-click="selectTab('meta')" data-toggle="tab">Meta</a></li>
                        <li ng-class="{active: selectedTab == 'css'}"><a ng-click="selectTab('css')" data-toggle="tab">CSS</a></li>
                    </ul>
                </div>

                <!-- form start -->

                <form role="form">

                    <div class="box-body" ng-show="selectedTab == 'general'">

                        <div class="form-group">
                            <p class="help-block">Page Title</p>
                            <input type="text" class="form-control" ng-model="customization.pageTitle">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Site Title</p>
                            <input type="text" class="form-control" ng-model="customization.siteTitle">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Sub Heading</p>
                            <input type="text" class="form-control" ng-model="customization.subHeading">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Leave us your comment</p>
                            <input type="text" class="form-control" ng-model="customization.leaveUsYourComment">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Search by name</p>
                            <input type="text" class="form-control" ng-model="customization.searchByName">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Or pick a predefined search</p>
                            <input type="text" class="form-control" ng-model="customization.pickAPredefinedSearch">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Timeline</p>
                            <input type="text" class="form-control" ng-model="customization.timeline">
                        </div>

                        <div class="form-group">
                            <p class="help-block">[timelineCaption] Muestra los recorridos en la función pública de de los funcionarios seleccionados</p>
                            <input type="text" class="form-control" ng-model="customization.timelineCaption">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Stats</p>
                            <input type="text" class="form-control" ng-model="customization.stats">
                        </div>

                        <div class="form-group">
                            <p class="help-block">[statsCaption] Comparación y estadísticas de los funcionarios seleccionados</p>
                            <input type="text" class="form-control" ng-model="customization.statsCaption">
                        </div>
                        <!-- Seccion nuevos inputs -->
                            <div class="form-group">
                            <p class="help-block"> selected Functionary</p>
                            <input type="text" class="form-control" ng-model="customization.selectFunctionary">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Keywords</p>
                            <input type="text" class="form-control" ng-model="customization.keywords">
                        </div>

                         <div class="form-group">
                            <p class="help-block">Description</p>
                            <input type="text" class="form-control" ng-model="customization.description">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Politics Timeline</p>
                            <input type="text" class="form-control" ng-model="customization.politcsTimelime">
                        </div>
                        <div class="form-group">
                            <p class="help-block">SubTitle</p>
                            <input type="text" class="form-control" ng-model="customization.subtitle">
                        </div>
                          <div class="form-group">
                            <p class="help-block">Other Countries</p>
                            <input type="text" class="form-control" ng-model="customization.otherCountries">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Follow</p>
                            <input type="text" class="form-control" ng-model="customization.follow">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Contributors</p>
                            <input type="text" class="form-control" ng-model="customization.Contributors">
                        </div>
                         <div class="form-group">
                            <p class="help-block">Suggest Search</p>
                            <input type="text" class="form-control" ng-model="customization.suggestSearch">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Name Insertion</p>
                            <input type="text" class="form-control" ng-model="customization.nameInsertion">
                        </div>
                          <div class="form-group">
                            <p class="help-block">About</p>
                            <input type="text" class="form-control" ng-model="customization.about">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Name</p>
                            <input type="text" class="form-control" ng-model="customization.name">
                        </div>
                         <div class="form-group">
                            <p class="help-block">Search</p>
                            <input type="text" class="form-control" ng-model="customization.search">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Share</p>
                            <input type="text" class="form-control" ng-model="customization.share">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Clear</p>
                            <input type="text" class="form-control" ng-model="customization.clear">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Selection</p>
                            <input type="text" class="form-control" ng-model="customization.selection">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Career</p>
                            <input type="text" class="form-control" ng-model="customization.career">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Terrritory</p>
                            <input type="text" class="form-control" ng-model="customization.territory">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Role</p>
                            <input type="text" class="form-control" ng-model="customization.role">
                        </div>
                        <div class="form-group">
                            <p class="help-block">First</p>
                            <input type="text" class="form-control" ng-model="customization.first">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Last</p>
                            <input type="text" class="form-control" ng-model="customization.last">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Ejec</p>
                            <input type="text" class="form-control" ng-model="customization.ejec">
                        </div>  
                         <div class="form-group">
                            <p class="help-block">Legis</p>
                            <input type="text" class="form-control" ng-model="customization.legis">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Jud</p>
                            <input type="text" class="form-control" ng-model="customization.jud">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Elect</p>
                            <input type="text" class="form-control" ng-model="customization.elect">
                        </div>
                        <div class="form-group">
                            <p class="help-block">No Elect</p>
                            <input type="text" class="form-control" ng-model="customization.noElect">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Reelect</p>
                            <input type="text" class="form-control" ng-model="customization.reelect">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Export</p>
                            <input type="text" class="form-control" ng-model="customization.export">
                        </div>

                         <div class="form-group">
                            <p class="help-block">Elect Position</p>
                            <input type="text" class="form-control" ng-model="customization.electPosition">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Executive Position</p>
                            <input type="text" class="form-control" ng-model="customization.executivePosition">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Different Positions</p>
                            <input type="text" class="form-control" ng-model="customization.differentPositions">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Years In Function</p>
                            <input type="text" class="form-control" ng-model="customization.yearsInFunction">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Elective Positions</p>
                            <input type="text" class="form-control" ng-model="customization.electivePositions">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Judiciary Positions</p>
                            <input type="text" class="form-control" ng-model="customization.judiciaryPositions">
                        </div>
                        
                         <div class="form-group">
                            <p class="help-block">Team</p>
                            <input type="text" class="form-control" ng-model="customization.team">
                        </div>
                         <div class="form-group">
                            <p class="help-block">Years In Politics</p>
                            <input type="text" class="form-control" ng-model="customization.yearsInPolitics">
                        </div>
                         <div class="form-group">
                            <p class="help-block">Select Territory</p>
                            <input type="text" class="form-control" ng-model="customization.selectTerritory">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Select Position</p>
                            <input type="text" class="form-control" ng-model="customization.selectPosition">
                        </div>

                        <div class="form-group">
                            <p class="help-block">Select Decade</p>
                            <input type="text" class="form-control" ng-model="customization.selectDecade">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Matches</p>
                            <input type="text" class="form-control" ng-model="customization.matches">
                        </div> 
                        <div class="form-group">
                            <p class="help-block">Not Found</p>
                            <input type="text" class="form-control" ng-model="customization.notFound">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Basic Search</p>
                            <input type="text" class="form-control" ng-model="customization.basicSearch">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Checked</p>
                            <input type="text" class="form-control" ng-model="customization.checked">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Post</p>
                            <input type="text" class="form-control" ng-model="customization.post">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Politicians</p>
                            <input type="text" class="form-control" ng-model="customization.politicians">
                        </div>
                        <div class="form-group">
                            <p class="help-block">organizations</p>
                            <input type="text" class="form-control" ng-model="customization.organizations">
                        </div>
                         <div class="form-group">
                            <p class="help-block">territories</p>
                            <input type="text" class="form-control" ng-model="customization.territories">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Categories</p>
                            <input type="text" class="form-control" ng-model="customization.categories">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Years</p>
                            <input type="text" class="form-control" ng-model="customization.years">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Last Update</p>
                            <input type="text" class="form-control" ng-model="customization.lastUpdate">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Resume Label</p>
                            <input type="text" class="form-control" ng-model="customization.resumeLabel">
                        </div>
                          <div class="form-group">
                            <p class="help-block">Enter first name and second Name</p>
                            <input type="text" class="form-control" ng-model="customization.enterName">
                        </div>
                      
                          <div class="form-group">
                            <p class="help-block">Twitter Line</p>
                            <input type="text" class="form-control" ng-model="customization.twitterLine">
                        </div>
                          <div class="form-group">
                            <p class="help-block">Copy Link</p>
                            <input type="text" class="form-control" ng-model="customization.copyLink">
                        </div>
                           <div class="form-group">
                            <p class="help-block">add Link</p>
                            <input type="text" class="form-control" ng-model="customization.addLink">
                        </div>
                        <div class="form-group">
                            <p class="help-block">Loading</p>
                            <input type="text" class="form-control" ng-model="customization.load">
                        </div>
                        <div class="form-group">
                            <p class="help-block">pessoas</p>
                            <input type="text" class="form-control" ng-model="customization.pessoas">
                        </div>
                        <div class="form-group">
                            <p class="help-block">errores</p>
                            <input type="text" class="form-control" ng-model="customization.errores">
                        </div>
                        <div class="form-group">
                            <p class="help-block">representetivity</p>
                            <input type="text" class="form-control" ng-model="customization.representetivity">
                        </div>
                        <div class="form-group">
                            <p class="help-block">mostPopular</p>
                            <input type="text" class="form-control" ng-model="customization.mostPopular">
                        </div>
                        <div class="form-group">
                            <p class="help-block">bests</p>
                            <input type="text" class="form-control" ng-model="customization.bests">
                        </div>
                        <div class="form-group">
                            <p class="help-block">results</p>
                            <input type="text" class="form-control" ng-model="customization.results">
                        </div>
                        <div class="form-group">
                            <p class="help-block">whatosearch</p>
                            <input type="text" class="form-control" ng-model="customization.whatosearch">
                        </div>
                        <div class="form-group">
                            <p class="help-block">selectedPersons</p>
                            <input type="text" class="form-control" ng-model="customization.selectedPersons">
                        </div>
                        <div class="form-group">
                            <p class="help-block">tryThis</p>
                            <input type="text" class="form-control" ng-model="customization.tryThis">
                        </div>
                        <div class="form-group">
                            <p class="help-block">engine</p>
                            <input type="text" class="form-control" ng-model="customization.engine">
                        </div>
                        <div class="form-group">
                            <p class="help-block">suggestThis</p>
                            <input type="text" class="form-control" ng-model="customization.suggestThis">
                        </div>
                        <div class="form-group">
                            <p class="help-block">forWord</p>
                            <input type="text" class="form-control" ng-model="customization.forWord">
                        </div>
                        <div class="form-group">
                            <p class="help-block">at</p>
                            <input type="text" class="form-control" ng-model="customization.at">
                        </div>
                        <div class="form-group">
                            <p class="help-block">on</p>
                            <input type="text" class="form-control" ng-model="customization.on">
                        </div>










                        
                        
                        

                           <!-- termina  nuevos inputs -->

                    </div>
                    <!-- /.box-body -->
                    <!-- general tab -->

                    <div class="box-body" ng-show="selectedTab == 'predefined'">
                        <div class="form-group">
                            <label ng-show="fixAce">Predefined Searches</label>
                            <div ui-ace="{  mode: 'json' }" ng-model="customization.predefinedSearches"></div>
                        </div>
                    </div>
                       <div class="box-body" ng-show="selectedTab == 'placeholders'">
                        <div class="form-group placeholders">
                            <label ng-show="fixAce">Place Holder Images</label>
                            <div class="form-group">
                                <p class="help-block">Territory</p>
                                <img ng-src="{{customization.territoryPlaceholder}}">
                                <input type="text" class="form-control" ng-model="
                                customization.territoryPlaceholder">
                                
                            </div>
                            <div class="form-group">
                                <p class="help-block">Politicians</p>
                                <img ng-src="{{customization.politicianPlaceholder}}">
                                <input type="text" class="form-control" ng-model="customization.politicianPlaceholder">
                                
                            </div>
                            <div class="form-group">
                                <p class="help-block">Memberships</p>
                                <img ng-src="{{customization.membershipPlaceHolder}}">
                                <input type="text" class="form-control" ng-model="customization.membershipPlaceHolder">
                                
                            </div>
                             
                            
                        </div>
                    </div>
                    <div class='box-body' ng-show="selectedTab == 'social'">
                        <div class="form-group">
                            <label ng-show="fixAce">Error Button</label>
                            <div ui-ace="{  mode: 'html' }" ng-model="customization.errorButton"></div>
                        </div>
                        <div class="form-group">
                            <label ng-show="fixAce">Follow Button</label>
                            <div ui-ace="{  mode: 'html' }" ng-model="customization.followButton"></div>
                        </div>
                        <div class="form-group">
                            <label ng-show="fixAce">Fork Cargo Button</label>
                            <div ui-ace="{  mode: 'html' }" ng-model="customization.forkButton"></div>
                        </div>
                    </div>

                    <div class="box-body" ng-show="selectedTab == 'footer'">

                        <div class="form-group">
                            <label>Footer Left</label>
                            <textarea ckeditor="editorOptions" ng-model="customization.footerLeft"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Footer Right</label>
                            <textarea ckeditor="editorOptions" ng-model="customization.footerRight"></textarea>
                        </div>
                    </div>
                    <!-- footer -->

                    <div class="box-body" ng-show="selectedTab == 'meta'">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="customization.metaName">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" ng-model="customization.metaDescription">
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="text" class="form-control" ng-model="customization.metaImage">
                        </div>
                    </div>
                    <!-- meta -->

                    <div class="box-body" ng-show="selectedTab == 'css'">
                        <div class="form-group">
                            <label ng-show="fixAce">Custom CSS</label>
                            <div class="custom-css-ace-container" ui-ace="{  mode: 'css' }" ng-model="customization.customCSS"></div>
                        </div>
                    </div>
                    <!-- css -->

                </form>
            </div>
            <!-- /.box -->

            <div class="box box-primary">
                <div class="box-footer">
                    <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->