
.ace_editor { 
  height: 200px; 
}

.custom-css-ace-container.ace_editor{
	height: 600px;
}

.popitdate .popitdate-input{
	width: 30px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.popitdate .popitdate-input-year{
	width: 50px;
}

.form-with-borders{
	border: solid 1px #ccc;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.organizations h2{
	margin: 0;
}

.organizations .row-person-item{
	background: #ccc;
	margin-bottom: 5px;
}

.organization .box-body{
	background: silver;
}